.fa-angle-double-left {
    font-family: FontAwesome;
    content: "\f100";
}

.fa-angle-double-right {
    font-family: FontAwesome;
    content: "\f101";
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: white;
    width: 100%;
  }
  