.fa-angle-double-left {
    font-family: FontAwesome;
    content: "\f100";
}

.fa-angle-double-right {
    font-family: FontAwesome;
    content: "\f101";
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: white;
    width: 100%;
  }

  img.footer-icon {
    width: 30px;
    height: auto;
  }
  
  #github-collab {
      text-decoration: none;
      color: black;
  }

  .butts {
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-top: 10px;
  }